<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistPhaseBrightness</key>
	<string>buttonPerScope</string>
	<key>cupertinoSliderOrientation</key>
	<string>blocInterpreterHue</string>
	<key>gradientUntilScope</key>
	<string>synchronousBinaryLeft</string>
	<key>imageShapeRight</key>
	<string>providerNumberTransparency</string>
</dict>
</plist>
