<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOperationShape</key>
	<string>callbackNearValue</string>
	<key>agileExponentLocation</key>
	<string>gramStructureTag</string>
	<key>allocatorUntilAction</key>
	<string>consultativeScaleDensity</string>
	<key>alphaBufferAppearance</key>
	<string>paddingTierBrightness</string>
	<key>interactiveStorageInterval</key>
	<string>smallUtilValidation</string>
	<key>painterByFacade</key>
	<string>constraintAndParameter</string>
	<key>particleInsideFlyweight</key>
	<string>providerStyleRate</string>
	<key>resourceDuringParameter</key>
	<string>cacheMethodBound</string>
	<key>resultInsideTier</key>
	<string>navigatorSincePhase</string>
	<key>unsortedResolverSkewy</key>
	<string>diffableInteractorResponse</string>
</dict>
</plist>
