<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectSinceJob</key>
	<string>statefulIndicatorMomentum</string>
	<key>newestTableInset</key>
	<string>storageViaLayer</string>
	<key>stampThroughProcess</key>
	<string>gradientWithPrototype</string>
	<key>typicalRadiusHead</key>
	<string>serviceEnvironmentVelocity</string>
</dict>
</plist>
