<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchTierCenter</key>
	<string>easyUtilAcceleration</string>
	<key>buttonLikeParam</key>
	<string>configurationExceptLayer</string>
	<key>desktopFeatureOpacity</key>
	<string>materialCertificateDuration</string>
	<key>directFutureDensity</key>
	<string>giftObserverForce</string>
	<key>documentOperationContrast</key>
	<string>specifyGrayscaleDelay</string>
	<key>interactorVisitorValidation</key>
	<string>columnThanVariable</string>
	<key>sharedRepositoryCount</key>
	<string>handlerAsVar</string>
	<key>textfieldLikeStyle</key>
	<string>hashAgainstStyle</string>
</dict>
</plist>
