<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheProxyOffset</key>
	<string>activityProxyVisible</string>
	<key>draggableIndicatorShape</key>
	<string>mobxSystemIndex</string>
	<key>hashForLevel</key>
	<string>singleDescriptorInterval</string>
	<key>mobxFunctionMode</key>
	<string>mediaPerMethod</string>
	<key>precisionStyleOpacity</key>
	<string>respectiveThemeName</string>
	<key>reductionUntilSingleton</key>
	<string>textLayerKind</string>
	<key>sessionFrameworkSpeed</key>
	<string>mapAsNumber</string>
	<key>storageWithFlyweight</key>
	<string>timerAmongObserver</string>
	<key>subscriptionPerShape</key>
	<string>robustAnimatedcontainerFlags</string>
	<key>toolPlatformVisible</key>
	<string>streamLevelOrientation</string>
</dict>
</plist>
