<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSingletonSize</key>
	<string>advancedStreamSaturation</string>
	<key>blocInsideMediator</key>
	<string>baseVersusParameter</string>
	<key>certificateViaTier</key>
	<string>queryPhaseOrigin</string>
	<key>gateByStage</key>
	<string>sensorFrameworkInterval</string>
	<key>gateWithoutOperation</key>
	<string>uniqueLayoutAlignment</string>
	<key>graphContainActivity</key>
	<string>responsiveRectColor</string>
	<key>repositoryTaskTag</key>
	<string>navigationVarCoord</string>
</dict>
</plist>
