<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAndBridge</key>
	<string>smallCompleterPressure</string>
	<key>cacheThanOperation</key>
	<string>typicalBitrateShape</string>
	<key>callbackAtJob</key>
	<string>criticalBaselineMomentum</string>
	<key>catalystProcessDirection</key>
	<string>utilWithoutAction</string>
	<key>cellExceptStyle</key>
	<string>priorOptimizerRotation</string>
	<key>lazyMobileDepth</key>
	<string>uniformDurationStyle</string>
</dict>
</plist>
