<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyGradientHead</key>
	<string>standaloneAlignmentDirection</string>
	<key>fixedRemainderOpacity</key>
	<string>missionNumberInteraction</string>
	<key>graphicPatternCoord</key>
	<string>resilientConsumerForce</string>
	<key>localizationActivityRate</key>
	<string>builderWithoutKind</string>
</dict>
</plist>
