<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredBorderInset</key>
	<string>greatLabelBound</string>
	<key>scrollByInterpreter</key>
	<string>singletonKindIndex</string>
	<key>sortedTransformerMargin</key>
	<string>transitionAndTier</string>
	<key>textPatternSpacing</key>
	<string>iterativeLocalizationDelay</string>
</dict>
</plist>
