<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarFunctionOffset</key>
	<string>frameTypeTag</string>
	<key>associatedKernelDirection</key>
	<string>cosineActionBorder</string>
	<key>compositionalIndicatorBehavior</key>
	<string>nativeMetadataMargin</string>
	<key>cubitScopeAcceleration</key>
	<string>activatedAlertMargin</string>
	<key>graphicPhaseInset</key>
	<string>comprehensiveStoryboardPosition</string>
	<key>immutableEffectStyle</key>
	<string>descriptionAgainstNumber</string>
	<key>integerAwayVariable</key>
	<string>requestKindScale</string>
	<key>intensityAsVariable</key>
	<string>localOptionEdge</string>
</dict>
</plist>
