<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionFrameworkLeft</key>
	<string>mobxAtStyle</string>
	<key>certificateSingletonType</key>
	<string>advancedGroupOpacity</string>
	<key>containerStageDelay</key>
	<string>composableLocalizationRight</string>
	<key>draggableExtensionResponse</key>
	<string>mobxCycleFormat</string>
	<key>frameLikeMediator</key>
	<string>discardedBuilderIndex</string>
	<key>intensityThanJob</key>
	<string>activatedArithmeticResponse</string>
	<key>navigatorPlatformSkewx</key>
	<string>apertureActivityContrast</string>
	<key>tickerWithObserver</key>
	<string>frameOfNumber</string>
	<key>viewOutsideDecorator</key>
	<string>asyncVersusForm</string>
</dict>
</plist>
