<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorVersusComposite</key>
	<string>originalEquipmentSpacing</string>
	<key>criticalRouteOrigin</key>
	<string>cupertinoSubpixelFrequency</string>
	<key>listviewStrategyKind</key>
	<string>rowSingletonMargin</string>
	<key>multiplicationFacadeTransparency</key>
	<string>unsortedTopicFeedback</string>
	<key>robustQueryMomentum</key>
	<string>sceneMementoAcceleration</string>
	<key>typicalQueryDensity</key>
	<string>integerWithoutStage</string>
</dict>
</plist>
