<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedGrayscaleRotation</key>
	<string>curveWithoutPrototype</string>
	<key>brushOutsideForm</key>
	<string>spotBridgeFormat</string>
	<key>hardChannelOrientation</key>
	<string>tableByComposite</string>
	<key>hardCompositionStyle</key>
	<string>grainSystemVisibility</string>
	<key>heroAmongInterpreter</key>
	<string>scrollStrategyDensity</string>
	<key>normalRichtextSpacing</key>
	<string>mediocreChartHue</string>
	<key>presenterAwayMode</key>
	<string>futureIncludeVar</string>
	<key>robustGridColor</key>
	<string>catalystDuringFlyweight</string>
	<key>statelessLayerCoord</key>
	<string>checklistTypeFrequency</string>
</dict>
</plist>
