<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerMediatorIndex</key>
	<string>otherFeatureInterval</string>
	<key>builderDespiteObserver</key>
	<string>callbackActivityOffset</string>
	<key>channelsActionTension</key>
	<string>curveVersusActivity</string>
	<key>constraintSinceFacade</key>
	<string>binaryVariableTheme</string>
	<key>cycleBeyondAdapter</key>
	<string>reductionAlongScope</string>
	<key>displayableServiceDuration</key>
	<string>variantForPlatform</string>
	<key>frameAlongLayer</key>
	<string>projectionThroughAdapter</string>
	<key>rapidPopupTail</key>
	<string>stampWorkLeft</string>
	<key>routerTierInteraction</key>
	<string>sharedNavigatorState</string>
	<key>singleActionShade</key>
	<string>pinchableGetxDelay</string>
</dict>
</plist>
