<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxLevelBehavior</key>
	<string>vectorWithoutFacade</string>
	<key>exceptionStyleHue</key>
	<string>awaitContextRotation</string>
	<key>particleForSingleton</key>
	<string>factoryBridgeContrast</string>
	<key>reductionOrPattern</key>
	<string>hierarchicalBuilderPosition</string>
	<key>semanticsSystemOrientation</key>
	<string>primaryOptimizerLocation</string>
	<key>specifierDuringFunction</key>
	<string>consultativeSingletonRotation</string>
</dict>
</plist>
