<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventChainSize</key>
	<string>persistentTimerCenter</string>
	<key>navigationValueName</key>
	<string>prevBoxshadowVisibility</string>
	<key>subscriptionStyleBrightness</key>
	<string>sophisticatedChapterPadding</string>
	<key>textureMediatorFeedback</key>
	<string>optionLikeType</string>
</dict>
</plist>
