<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAlongBridge</key>
	<string>draggableParticleHue</string>
	<key>blocOfTemple</key>
	<string>firstPromiseRate</string>
	<key>cardCommandSize</key>
	<string>persistentNibMomentum</string>
	<key>commonNavigatorAlignment</key>
	<string>crucialResourceOrientation</string>
	<key>containerChainLeft</key>
	<string>desktopEffectBrightness</string>
	<key>difficultParticleAppearance</key>
	<string>factoryFacadeShape</string>
	<key>mediaJobLocation</key>
	<string>resultLayerMomentum</string>
	<key>reactiveGesturedetectorMode</key>
	<string>visibleMethodMargin</string>
	<key>subsequentTopicBorder</key>
	<string>interactorAtWork</string>
</dict>
</plist>
