<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitOfVisitor</key>
	<string>fixedOffsetEdge</string>
	<key>channelViaBridge</key>
	<string>appbarPhasePadding</string>
	<key>constMasterVisibility</key>
	<string>progressbarOfState</string>
	<key>consultativeDelegateTail</key>
	<string>opaqueViewOpacity</string>
	<key>inheritedGridviewOpacity</key>
	<string>delegateOutsideComposite</string>
	<key>iterativeEffectSkewx</key>
	<string>imageFunctionInterval</string>
	<key>layerAlongTask</key>
	<string>sessionChainHead</string>
	<key>nodeVarSpeed</key>
	<string>tensorStoryboardBrightness</string>
	<key>threadVersusStyle</key>
	<string>gemActionBound</string>
	<key>vectorModeMode</key>
	<string>serviceOfChain</string>
</dict>
</plist>
