<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarOrShape</key>
	<string>semanticInterfaceSpacing</string>
	<key>blocProcessSpacing</key>
	<string>handlerProcessMode</string>
	<key>errorAdapterType</key>
	<string>actionBesideOperation</string>
	<key>featureFromDecorator</key>
	<string>typicalCurveSpacing</string>
	<key>plateTypeOrientation</key>
	<string>cosineViaProcess</string>
	<key>resolverDecoratorFlags</key>
	<string>secondUsecaseOrientation</string>
	<key>switchMethodShape</key>
	<string>assetTypeMargin</string>
</dict>
</plist>
