<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBlocPressure</key>
	<string>sizedboxWithoutBuffer</string>
	<key>assetExceptStyle</key>
	<string>taskAroundContext</string>
	<key>commandAgainstStrategy</key>
	<string>aspectOrTemple</string>
	<key>flexMementoInterval</key>
	<string>logarithmThanMode</string>
	<key>logAroundPhase</key>
	<string>presenterJobSkewy</string>
	<key>prevNavigatorValidation</key>
	<string>entropyVariableFlags</string>
	<key>requiredSliderShade</key>
	<string>originalTickerEdge</string>
	<key>visibleLoopTail</key>
	<string>allocatorViaVisitor</string>
</dict>
</plist>
