<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticNormDelay</key>
	<string>musicInFunction</string>
	<key>bufferAmongFacade</key>
	<string>constScrollTheme</string>
	<key>largeMethodVisible</key>
	<string>protocolParamRotation</string>
	<key>particleVersusForm</key>
	<string>nodeContextTransparency</string>
	<key>rowAlongAdapter</key>
	<string>textureChainFormat</string>
	<key>sliderWithoutParameter</key>
	<string>plateBridgeMargin</string>
	<key>themeFromWork</key>
	<string>smartBlocPressure</string>
</dict>
</plist>
