<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedLayerDelay</key>
	<string>methodLevelType</string>
	<key>channelsWithoutScope</key>
	<string>characterPerAction</string>
	<key>eventFromWork</key>
	<string>memberDespiteState</string>
	<key>futureViaContext</key>
	<string>commandViaStyle</string>
	<key>parallelSignatureInset</key>
	<string>mainMasterPressure</string>
	<key>semanticChannelRight</key>
	<string>semanticAnimationPressure</string>
	<key>standaloneBufferKind</key>
	<string>backwardToolRate</string>
	<key>textfieldLevelFrequency</key>
	<string>draggableExponentLocation</string>
</dict>
</plist>
