<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAdapterFormat</key>
	<string>crucialCertificateFlags</string>
	<key>bufferSingletonVisibility</key>
	<string>axisContextInset</string>
	<key>imageInProxy</key>
	<string>progressbarContextSkewy</string>
	<key>labelChainValidation</key>
	<string>functionalPointDuration</string>
	<key>multiPresenterForce</key>
	<string>cartesianBoxDepth</string>
	<key>signatureAmongStage</key>
	<string>errorAdapterValidation</string>
</dict>
</plist>
