<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationBufferMomentum</key>
	<string>transformerStateTop</string>
	<key>inkwellWithoutBridge</key>
	<string>commandDuringPattern</string>
	<key>missionShapeBrightness</key>
	<string>draggableBuilderShape</string>
	<key>paddingAsKind</key>
	<string>secondInkwellFeedback</string>
	<key>positionContainVar</key>
	<string>accessibleSensorRate</string>
	<key>rowCompositeContrast</key>
	<string>intensityAmongParameter</string>
	<key>spriteAlongParam</key>
	<string>entityFacadePosition</string>
	<key>taskIncludeFlyweight</key>
	<string>resultFrameworkStyle</string>
</dict>
</plist>
