<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterObserverCoord</key>
	<string>optionVarIndex</string>
	<key>customizedQueueCenter</key>
	<string>segmentSingletonOrientation</string>
	<key>dependencyVariableMomentum</key>
	<string>decorationLevelState</string>
	<key>grainStyleCoord</key>
	<string>optimizerEnvironmentMomentum</string>
	<key>intensityByBuffer</key>
	<string>diffablePlateScale</string>
	<key>robustInkwellCoord</key>
	<string>buttonOutsideFacade</string>
	<key>skinMementoSkewx</key>
	<string>fixedMobileBorder</string>
	<key>skirtByPlatform</key>
	<string>lossInterpreterValidation</string>
	<key>transformerMementoLocation</key>
	<string>requestVersusProxy</string>
	<key>transitionSincePattern</key>
	<string>builderProxyName</string>
</dict>
</plist>
