<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesDespiteStyle</key>
	<string>bufferChainLeft</string>
	<key>descriptionAgainstTemple</key>
	<string>statelessPopupTransparency</string>
	<key>entityBridgeResponse</key>
	<string>transitionOperationColor</string>
	<key>expandedOfSystem</key>
	<string>alphaExceptTask</string>
	<key>featureWithoutTier</key>
	<string>responsiveTaskPadding</string>
	<key>grainNearPrototype</key>
	<string>uniqueDependencyHead</string>
</dict>
</plist>
