<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeLabelMargin</key>
	<string>completionAsVisitor</string>
	<key>boxContextMomentum</key>
	<string>accessoryViaScope</string>
	<key>delicateGetxTension</key>
	<string>touchFunctionDelay</string>
	<key>documentAlongMethod</key>
	<string>cosinePhaseMomentum</string>
	<key>interfaceShapeScale</key>
	<string>directMediaSkewy</string>
	<key>otherBlocVisibility</key>
	<string>capsulePerState</string>
	<key>pageviewOrTier</key>
	<string>queueAlongSingleton</string>
	<key>presenterFacadeLocation</key>
	<string>serviceParameterTail</string>
	<key>scrollableNavigatorOrigin</key>
	<string>displayableOffsetBottom</string>
	<key>singleModelMargin</key>
	<string>bitrateAgainstPrototype</string>
</dict>
</plist>
