<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateSpotOrientation</key>
	<string>storeAdapterOpacity</string>
	<key>enabledAnimationPosition</key>
	<string>diversifiedMediaqueryMargin</string>
	<key>errorCompositeLeft</key>
	<string>immediateTweenTransparency</string>
	<key>functionalWidgetColor</key>
	<string>pointFromAdapter</string>
	<key>grayscaleTierStatus</key>
	<string>screenThanChain</string>
	<key>intuitiveTweenKind</key>
	<string>localReducerSize</string>
	<key>progressbarExceptStyle</key>
	<string>utilPrototypeFeedback</string>
	<key>providerParameterFormat</key>
	<string>heapModeVelocity</string>
	<key>reducerMethodSpeed</key>
	<string>popupLikeAction</string>
	<key>similarMenuVisibility</key>
	<string>disparateSineAcceleration</string>
</dict>
</plist>
