<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableExpandedFlags</key>
	<string>sophisticatedModelName</string>
	<key>hierarchicalParticlePosition</key>
	<string>smallPaddingDelay</string>
	<key>largeBorderDensity</key>
	<string>rectAtLayer</string>
	<key>otherClipperVelocity</key>
	<string>beginnerFutureMomentum</string>
	<key>relationalEntityContrast</key>
	<string>geometricActionVisibility</string>
	<key>sizedboxDespiteDecorator</key>
	<string>tappableContainerTheme</string>
	<key>textMediatorEdge</key>
	<string>unactivatedTaskFormat</string>
</dict>
</plist>
