<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedIntensityState</key>
	<string>remainderAroundEnvironment</string>
	<key>catalystObserverDirection</key>
	<string>layerInsidePlatform</string>
	<key>deferredVariantTint</key>
	<string>graphFacadeTail</string>
	<key>richtextFacadeBrightness</key>
	<string>notificationDecoratorStyle</string>
	<key>stackThanKind</key>
	<string>gramWithoutStructure</string>
	<key>taskAgainstShape</key>
	<string>entropyWithVisitor</string>
</dict>
</plist>
