<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPainterType</key>
	<string>petInsideContext</string>
	<key>scrollableResourceLocation</key>
	<string>contractionAroundAction</string>
</dict>
</plist>
