<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTopicSkewx</key>
	<string>roleVersusPrototype</string>
	<key>controllerWorkMode</key>
	<string>alphaFromShape</string>
	<key>groupValueAppearance</key>
	<string>bulletJobMargin</string>
	<key>isolateWithoutDecorator</key>
	<string>accordionRadioTail</string>
	<key>priorSlashInteraction</key>
	<string>modelParamForce</string>
	<key>rectIncludeInterpreter</key>
	<string>radioBesideTask</string>
	<key>referenceOutsideOperation</key>
	<string>priorityVisitorInset</string>
	<key>singleLayoutCoord</key>
	<string>missedSinkFlags</string>
	<key>spotDespiteShape</key>
	<string>clipperOrObserver</string>
	<key>subscriptionThroughState</key>
	<string>zoneForObserver</string>
</dict>
</plist>
