<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLayerInteraction</key>
	<string>convolutionPatternType</string>
	<key>certificateVariableRotation</key>
	<string>constraintPlatformCoord</string>
	<key>cupertinoDurationVisible</key>
	<string>mediumTaskTransparency</string>
	<key>declarativeTitleTension</key>
	<string>chapterLevelLeft</string>
	<key>delegateSingletonVelocity</key>
	<string>observerUntilPlatform</string>
	<key>mutableTransitionSaturation</key>
	<string>alphaBesideContext</string>
	<key>operationForLayer</key>
	<string>baselineAgainstLevel</string>
	<key>spriteVersusMediator</key>
	<string>baseWorkOrigin</string>
</dict>
</plist>
