<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellProxyOrigin</key>
	<string>geometricGridTag</string>
	<key>chapterDuringState</key>
	<string>responsiveBrushSkewy</string>
	<key>hierarchicalSpotBottom</key>
	<string>stampFacadeAppearance</string>
	<key>immediateScrollTransparency</key>
	<string>materialAsStyle</string>
	<key>keyStoryboardInteraction</key>
	<string>pageviewActionShape</string>
	<key>promiseDespiteProxy</key>
	<string>reusableWorkflowInteraction</string>
	<key>queryAmongVisitor</key>
	<string>certificateInsideType</string>
	<key>semanticAwaitSaturation</key>
	<string>brushAmongChain</string>
	<key>threadAlongStage</key>
	<string>kernelAlongProxy</string>
	<key>unaryActionLocation</key>
	<string>intermediateCubitStyle</string>
</dict>
</plist>
