<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellBridgeOrigin</key>
	<string>offsetForComposite</string>
	<key>coordinatorParameterResponse</key>
	<string>indicatorFromFunction</string>
	<key>exceptionVersusProxy</key>
	<string>radiusByPrototype</string>
	<key>granularCellOrientation</key>
	<string>seamlessViewDirection</string>
	<key>imperativeCycleVisible</key>
	<string>adaptiveMediaBehavior</string>
	<key>interactorContextResponse</key>
	<string>grainForCycle</string>
	<key>popupOperationStatus</key>
	<string>textParameterResponse</string>
	<key>signVersusTemple</key>
	<string>commandThroughBuffer</string>
	<key>statefulCardBrightness</key>
	<string>prevGesturedetectorInteraction</string>
	<key>sustainableScreenOrigin</key>
	<string>presenterParameterInset</string>
</dict>
</plist>
